<% if logged_in? %>
<h1>タスク一覧</h1>

      <%= render 'tasks/tasks', tasks: @tasks %>
<%= link_to '新規タスクの登録',new_task_path %>

<% else %>
  <div class="center jumbotron">
    <div class="text-center">
      <h1>Welcome to the Tasklist</h1>
      <%= link_to 'Sign up Now!', signup_path, class: 'btn btn-lg btn-primary' %>
    </div>
  </div>
<% end %>